{% extends "base.html" %}
{% block content %}
<h1>Вход</h1>
<form method="post">
  <div>
    <label for="username">Логин</label>
    <input id="username" name="username" autocomplete="username" />
  </div>
  <div>
    <label for="password">Пароль</label>
    <input id="password" name="password" type="password" autocomplete="current-password" />
  </div>
  <div class="row">
    <button class="btn primary" type="submit">Войти</button>
    <a class="btn" href="{{ url_for('register') }}">Регистрация</a>
  </div>
</form>
{% endblock %}